/* general styles */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}

/*  header styles */

header{
    width: 100vw;
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EDC867;
    position: sticky;
    z-index: 100;
}

.nav-containter{
    width: 41vw;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
   
}
.logo{
    color: #000;
    width: 96.17372131347656px;
    margin-left: 123px;
    border-bottom: 2px solid #000;
}

nav.ul {
    list-style: none;
}
nav{
    margin-left: -170px;
}
nav ui li {
    cursor: pointer;
    font-size: 17px;
    line-height: 17px;
    font-weight: 510;
    color: #000;
    padding: auto 10px;
}

.right-subpart{
    min-width: 21vw;
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    align-items: center;

    
}
.login-link{
    margin: auto 10px;
}
.see-how-button{
    margin-left: 15px;
    margin-right: 90px;
    padding: 11px 22px;
    min-width: 176px;
    border: 1px solid black;
    border-radius: 20px;
}

/* hero styles and main styles */

main{
    width: 100vw;
}
.hero-section{
    width: 100%;
    background: #EDC867;
    display: flex;
    height: 680px;
}
.hero-image-cont{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -70px 50px 50px 180px;
   

}
.hero-image{
    width: 350px;
    height: 500px;
}
.hero-content{
    width: 40%;
    margin: 149px 150px 207px 140px;
}

.hero-header{
width: 522px;
height: 130px;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
color: #000000;
}

.hero-description{
    width: 542px;
    height: 72px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #000000;
}

.hero-button{
    width: 196px;
    height: 50px;
    background: #0D0D0D;
    border-radius: 200px;
    color: #fff;
}

/* article styles */

.article-1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.partner-cont{
    margin-top: 110px;
    width: 70%;
}

.partner-cont>h2{
    width: 661px;
    height: 49px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 49px;
    color: #000000;
    margin: 20px auto;
}

.partner-cont>p{
    width: 640px;
    height: 48px;
    margin: 10px auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.brand-cont img{
    min-width: 150px;
    height: 53px;
    margin-top: 60px;
    margin-left: 20px;
}
.brand-cont{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

/* section bottom styles */

.section-bottom{
    width: 86%;
    height: 515px;
    background: #7AC678;
    margin: 120px auto;
    border-radius: 60px;
    position: relative;
}

.bottom-content{
    display: inline-block;
    width: 38%;
    margin: 14% 70px;

}
.bottom-image-cont{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 60px;
}
.bottom-content>h2{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    
}

.bottom-content>p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 25px 0;
}


/* footer styles */


footer{
    width: 86vw;
    height: 175px;
    margin: 30px 6%;
    display: flex;
    justify-content: space-evenly;

}

footer ul {
    list-style: none;
}

footer ul li{
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    color: #6A6A6A;
}

.footer-title{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-title>h1{
    width: 100px;
    border-bottom: 2.5px solid #000;
    cursor: pointer;
}
.footer-title>P{
    width: 303px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #6A6A6A;
}